@media (min-width: 0px) {
  .features-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .feature-hls {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 3em;
  }

  .features-intro-h {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 6px;
  }

  .features-intro-sh {
    margin-bottom: 10px;
  }

  .feature-hl-container {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    gap: 20px;
    cursor: pointer;
  }

  .feature-hl-container:hover {
    background-color: rgb(203, 203, 203);
  }
  
  .hl-img {
    width: 100px;
  }
}

@media (min-width: 430px) {

}

@media (min-width: 980px) {
  .feature-hls {
    gap: 2em;
  }

  .features-intro {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .feature-hl-container {
    width: 170px;
    height: 170px;
  }

  .hl-img {
    width: 50px;
  }

  .feature-title {
    font-size: 21px;
    text-align: center;
  }

  .features-container {
    flex: 4;
  }
}