body {
  font-family: "Lexend", Arial;
  font-size: 14px;
}

@media (min-width: 0px) {
  .front-page {
    margin-top: 70px;
  }
}

@media (min-width: 430px) {

}

@media (min-width: 980px) {
  .front-page {
    display: flex;
  }

  .announce-general {
    flex: 6;
  }

  .features-container {
    flex: 4;
  }

}