

@media (min-width: 0px) {
  .header {
    display: flex;
    position: fixed;
    background-color: #003459;
    top: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    height: 60px;
  }

  .hmg-img {
    height: 20px;
    margin-left: 15px;
    margin-top: 3px;
  }

  .latest-announcement-header {
    margin-top: 70px;
  }

  .header-text {
    margin-left: 15px;
    color: white;
  }
}

@media (min-width: 430px) {
  .header {
    height: 50px;
  }
}

@media (min-width: 980px) {
  .hmg-img {
    display: none;
  }
}
